body {
  margin: 0;
  background-color: #ffffff;
  display: flex; /* Use flex to center the content */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  min-height: 100vh; /* Set the minimum height of the whole container to the full viewport height */
}

* {
  box-sizing: border-box;
}

.card {
  width: 490px;
  height: 530px;
  background-color: rgb(48, 47, 47);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.picture-con {
  flex: 1; /* Take up 30% of the card's height */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.details {
  flex: 1; /* Take up 70% of the card's height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h3,
h4,
h5 {
  margin: 0;
  color: #ffffff;
  padding: 5px;
}

h2 {
  color: #ffffff;
  padding: 5px;
  margin: 10px 0;
  border-bottom: 1px solid #ffffff;
}

p {
  color: #ffffff;
  padding: 5px;
  margin: 0;
}

.social-icons {
  display: flex;
  justify-content: center; /* Center the icons horizontally */
  margin-top: 20px;
}

.social-icons img {
  width: 30px;
  height: 30px;
  margin: 0 10px; /* Add some horizontal spacing between the icons */
}
